@font-face {
    font-family: 'Satoshi';
    src: url("/stylesheets/Satoshi-Variable.ttf") format("truetype");
    font-display: swap;
  }

[data-md-color-scheme="dlr"] {
    --md-default-bg-color: rgb(250, 250, 250);
    --md-primary-bg-color: rgb(255, 255, 255);
    --md-primary-fg-color: #013272;
    --md-accent-fg-color: rgb(30, 187, 164);
    --md-code-hl-color: #013272;
    --hb-hero-color: rgb(45, 45, 45);
    --md-footer-fg-color--light: #ffffff;
    --md-footer-fg-color--lighter: #ffffff;
    --pg-light-border: rgb(0, 0, 0);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-bg-color: #013272;
}

[data-md-color-scheme="dlrh"] {
    --md-default-bg-color: rgb(250, 250, 250);
    --md-primary-bg-color: rgb(0, 0, 0);
    --md-primary-fg-color: rgb(255, 255, 255);
    --md-accent-fg-color: rgb(30, 187, 164);
    --md-code-hl-color: #000000;
    --hb-hero-color: rgb(45, 45, 45);
    --md-footer-fg-color--light: #ffffff;
    --md-footer-fg-color--lighter: #ffffff;
    --pg-light-border: rgb(0, 0, 0);
    --md-footer-fg-color: rgb(0, 0, 0);
    --md-footer-bg-color: rgb(255, 255, 255);
}

[data-md-color-scheme="default"] {
    --md-default-bg-color: rgb(250, 250, 250);
    --md-primary-bg-color: rgb(255, 255, 255);
    --md-primary-fg-color: rgb(0, 0, 0);
    --md-code-hl-color: #000000;
    --hb-hero-color: rgb(45, 45, 45);
    --md-footer-fg-color--light: #ffffff;
    --md-footer-fg-color--lighter: #ffffff;
    --pg-light-border: rgb(0, 0, 0);
    /* --md-footer-bg-color--dark: var(--md-default-bg-color); */
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: rgb(26, 26, 27);
    --md-primary-bg-color: rgb(255, 255, 255);
    --md-primary-fg-color: rgb(0, 0, 0);
    --md-code-hl-color: #000000;
    --hb-hero-color: #4fd2e3;
    --md-footer-fg-color--light: #ffffff;
    --md-footer-fg-color--lighter: #ffffff;
    --pg-light-border: teal;
    /* --md-footer-bg-color--dark: var(--md-default-bg-color); */
}

/* Better contrast link colors */
[data-md-color-scheme="default"] > * {
    --md-typeset-a-color: #00B1BB;
  }
  [data-md-color-scheme="dlr"] > * {
    --md-typeset-a-color: #00B1BB;
  }
  [data-md-color-scheme="dlrh"] > * {
    --md-typeset-a-color: #00B1BB;
  }
  [data-md-color-scheme="slate"] > * {
    --md-typeset-a-color: #00B1BB;
}


/* buttons */
.md-typeset .md-button {
  color: var(--md-typeset-color);
  background: none;
  border: 1px solid var(--pg-light-border);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px -1px;
}
.md-typeset .md-button--primary {
  color: var(--md-typeset-a-color);
  background-color: var(--md-primary-fg-color);
}

/* typewriter */
#typewriter {
  color: var(--md-accent-fg-color);
}

/* header font */
.md-header__topic:first-child {
  font-family: 'Satoshi';
  font-weight: 700;
}

.md-typeset h1 {
  font-family: 'Satoshi';
  font-weight: 700;
  color: var(--md-typeset-a-color);
  font-size: 1.4rem;
}
  
h2, h3 {
    font-family: 'Satoshi';
}

/* Un-sticky sidebar without JS */
.no-js .md-sidebar {
  align-self: auto;
}

/* Make header icons smaller */
.md-header__button.md-icon svg {
    height: 1rem;
    width: 1rem;
}

.md-tabs__item--active {
    background-color: #ffffff;
}

.md-tabs__item--active .md-tabs__link {
    color: var(--md-code-hl-color);
}

a.external-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0[↪]";
}

a.internal-link::after {
    /* \00A0 is a non-breaking space
        to make the mark be on the same line as the link
    */
    content: "\00A0↪";
}

.shadow {
    box-shadow: 5px 5px 10px #999;
}

/* Correct page icon size */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 1.2rem; /* Vergrößere hier die Höhe */
    width: 1.6rem;  /* Vergrößere hier die Breite */
}

/* Accent color */
.accent {
  color: var(--md-typeset-a-color);
}
.accent a {
  font-weight: 500;
}

/* Centered item */
.centered {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

/* Announcement Bar */
.md-banner {
  background-color: var(--md-typeset-a-color);
  color: var(--md-default-bg-color);
  font-weight: 700;
}

/* Logo Grids */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-item {
  flex-basis: calc(50% - 10px);
}
.flex-item img {
  padding: 3rem 1rem; /* padding: 3rem 1rem; */
}
  
/* Fix mobile search with blurred header 
Causes a delay when opening search, not optimal */
[data-md-scrolllock] .md-header,
[data-md-scrolllock] .md-tabs {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}


/* Prevent main content from overlapping */
.md-main__inner {
  margin-left: 50px; /* same as sidebar width */
}

/* Maximum space for text block */
.md-grid {
  max-width: 90%; /* or 100%, if you want to stretch to full-width */
}



/* Target homepage (index.md) content only */
.md-main__inner > .md-typeset {
  text-align: center;
}

/* Center tables inside homepage */
.md-main__inner > .md-typeset table {
  margin-left: auto;
  margin-right: auto;
}